@import "tailwindcss";

@layer utilities {
    @keyframes cardsAnim {
      0% {
        opacity: 0;
        transform: translateX(-20px);
      }
      100% {
        opacity: 1;
        transform: translateX(0);
      }
    }

    .body{
      margin: 0px;
      padding: 0px;
      box-sizing: border-box;
    }
    .form-hover {
      animation: cardsAnim 1s ease-in-out forwards;
    }
  }